* {
    margin: 0;
    padding: 0;
}

html, body {
    
    font-size: 25px;
}

.clock {
    position: absolute;
    margin: auto;
    top: 10%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 900px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    color: #fff;
    font-family: 'Quicksand', 'Helvetica', Arial, sans-serif;
    font-weight: lighter;
    font-size: 30px;
}

.inside {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 900px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0);
}

.content {
    margin-top: 10%;
    width: auto;
    height: auto;
    text-align: center;
}

.days {
    color: rgba(255, 255, 255, 0.2);
    font-size: 26px;
    margin-top: 15%;
}

.days span {
    margin-left: 1%;
}

.text{
    position: absolute;
    margin: auto;
    top: -40%;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 10%;
    font-size: 3.5em;
}

#time {
    font-size: 1.5rem;
}

#date {
    margin-top: 12%;
    margin-left: -20%;
}

#cal img {
    width: 30px;
    height: 30px;
    
}

span#day {
    position: absolute;
    margin-top: -125px;
    margin-left: -10px;
}

span#month {
    position: absolute;
    margin-top: -125px;
    margin-left: 35px;

}

span#year {
    position: absolute;
    margin-top: -125px;
    margin-left: 110px;

}
