body {
    
      font-size: : 20px; 
      font-family: 'Open sans', 'sans-serif';
      line-height: 1.8;
      color: #fff;
  }
 
  
  p {
    font-size: 14px;

  }

  h2 {
    font-size: 20px !important; 
  }
  a {
    font-family: 'Open sans', 'sans-serif';
  }

  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 17px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 16px;

      
       
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
       transition: all 0.5s ;
  }

  .image-logo{
    width: 70px ;
    margin-top: -20px;
  }

  .navbar-defauklt{
    border-color: rgba(255,255,255,0);
  }

  .footer {
  background: rgba(255, 255, 255, 0.0);
  padding: 20px 10px;
 
  width: 100%;
  text-align: center;
 margin-top: 50px
}
.footer a {
  color: #000;
  font-size: 23px;
  padding: 10px;
  border-right: 1px solid #70726F;
  transition: all 0.5s ;
  border-right: none;
  border-left-width: : 0px;


}
.footer a:first-child {
  border-left: 1px solid #70726F;
}
.footer a:hover {
  color:#1abc9c; /* Green */
  transform: scale(1.5);
}


  .wrap:hover .favicon {
    transform: scale(2);
  }


.profile{
  
    position: relative;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
    margin: auto;
    text-align: center;
}

@media (min-width: 768px){
  .profile{
    max-width: 400px;
  }
}

.aboutMe{
  margin-top: 100px
    color: #222222;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.2em;
    
    max-width: 700px;
    margin: auto;
    
}
/*
/////////////////////////////////ABOUT ME //////////////////////////////////////////////////

*/





.questions-section > h2 {
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
    /* Layout */
    margin: 2em 0 1em 0;
}

section > h1 {
   font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
    /* Layout */
    margin: 2em 0 1em 0;
}




/*
///////////////////////////////END ABOUT ME////////////////////////////////////////////////////////
*/





.imgCircle{
  border-radius: 50%;
}

.profileTitle{
    color: grey;
    font-size: 18px;
}
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}




//* =============================================================================
   PARTICLE ANIMATION
   ========================================================================== */

@import url(https://fonts.googleapis.com/css?family=Teko:300,400,500,600);

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


html,body{ 
  width:100%;
 
  background:#fff;
}

s
/* remove canvas default margin */
canvas{
  display:block;
  vertical-align:bottom;
}

#particles-js{
  width:100%;
  height:400px;
}

/* =============================================================================
   My CSS
   ========================================================================== */



/* =============================================================================
   My CSS
   ========================================================================== */
.particle{

  position: relative;  
}

.div1 {

  /*background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  */
  font-size: 4.5rem;



  text-align: center;
  margin-top: -300px;

  animation-duration: 1.5s;
  animation-name: fadeAndScale;
  animation-timing-function: cubic-bezier(.71,.55,.62,1);
}

@keyframes fadeAndScale {
  from {
    opacity: 0;
    transform: scale(.9, .9);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.div2 {

 margin-top: 100px;
animation-duration: 1.5s;
  animation-name: fadeAndScale;
  animation-timing-function: cubic-bezier(.71,.55,.62,1);
}

.div3 {

 margin-top: 50px;
animation-duration: 1.5s;
  animation-name: fadeAndScale;
  animation-timing-function: cubic-bezier(.71,.55,.62,1);

}

/* Cryptocurrency articles */

/* Mobile article  */



.article-thumbnail img{
  position: absolute;
  margin-top: 19%;
  margin-left: -33%;
}


.card-article {
  background-color: white;
  position: relative;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  max-width: 30%;
  margin: auto;
  text-align: center;
  transition: transform .2s; /* Animation */
  margin-bottom: 2%;
}

.card-article:hover {
  transform: scale(1.03); 
  transition: transform .2s;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.3);
  }

.card-article-text{
  padding: 2% 5% 5% 5%;
  margin-left: 50%;
}



@media (max-width: 768px){
  .card-article{
    max-width: 95%;
    padding-top: 10px;
  }
  .article-thumbnail img{
    max-width: 50px;
    margin-top: auto;
    margin-left: -6%;
  }
  .card-article-text{
    padding: 2% 5% 5% 5%;
    margin: 0px;
    padding-top: 42px;
  }
}


.fa { 
  font-family: 'FontAwesome' !important; 



    
    

 


.btn{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }




/*Photo gallery */



/*              */

@media(max-width: 767px) {
  .navbar-brand {
    position: absolute;
    width: 30%;
    left: 0;
    top: 0;
    text-align: left;
    margin: auto;
  }
 
}

@media(min-width: 768px) {
  .navbar-brand {
    position: absolute;
    width: 30%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    color: orange;
    
  }
  .nav.navbar-nav {
    margin-left: 30%;
  }
  
}

