body {
      font-size: : 20px; 
      font-family: 'Open sans', 'sans-serif';
      line-height: 1.8;
      color: #fff;
  }
 
  
  p {
    font-size: 20px;

  }

  a {
    font-family: 'Open sans', 'sans-serif';
  }

  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 17px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
       font-family: 'Open sans', 'sans-serif';
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }

  .image-logo{
    width: 70px ;
    margin-top: -20px;
  }

  .navbar-defauklt{
    border-color: rgba(255,255,255,0);
  }

  .footer {
  background: #fff;
  padding: 20px 10px;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom:0;
  margin: 0 auto;
}
.footer a {
  color: #000;
  font-size: 23px;
  padding: 10px;
  border-right: 1px solid #70726F;
  transition: all 0.5s ;
  border-right: none;
  border-left-width: : 0px;

}
.footer a:first-child {
  border-left: 1px solid #70726F;
}
.footer a:hover {
  color:#1abc9c; /* Green */
  transform: scale(1.5);
}


  .wrap:hover .favicon {
    transform: scale(2);
  }




/*     https://codepen.io/anon/pen/gxbvqQ           END NAV Animation*/